<div class='game-container'>
  <div class='game'>
    <h3><strong><%= @game.name %></strong></h3>
    <p><strong>Genre:</strong> <%= @game.genre %></p>
    <p><strong>Publisher:</strong> <%= @game.publisher %></p>
    <p><strong>Desciption:</strong> <%= @game.description %></p>
  <div>
<div>