html{
  font-size: 22px;
}

.header{
  width: 100%;
  height: 3.125rem;
  background-color: #24292e;
  display: flex;
  align-items: center;
}

body {
  margin: 0;
}

.header-home{
  padding: 0.8125rem;
}

.header-user{
  float: right;
  padding: 0.8125rem;
}

.header-email{
  color: white;
  margin-left: auto;
}

.header-signup{  
  margin-left: auto;
}

.header a:link{
  color: white;
}

.header a:visited{
  color: white;
}

.header-user-spacer{
  color: white;
}

.user-container{
  display: flex;
  justify-content: center;
  margin-top: 2rem
}

.user{
  max-width: 18.75rem;
  margin: 0.9375rem;
  padding: 0.9375rem;
}

.register{
  margin: 0.9375rem;
  padding: 0.9375rem;
  text-align: center;
}

.userform{
  margin-bottom: 0;
}

.userform label{
  width: 100%;
  margin-bottom: 0;
}

.userform input{
  width: 100%;
  margin-bottom: .5rem;
}

.userform #submit{
  margin-top: .1rem;
  margin-bottom: .2rem;  
}

.row-no-padding div{
  padding-left: 0 !important;
  padding-right: 0 !important;
}