<div class='text-center'>
  <h1>Woops, my app doesn't like what you just did</h1>
  <br>
  <% if @errors %>
  <p>Hopefully this will give some hints: </p>
    <% @errors.each do |key, error| %>
      <% error.each do |error_msg| %>
      <p class='text-danger'><%= "<b>#{key.to_s}</b> #{error_msg}" %></p>
      <% end %>
    <% end %>
  <% end %>
</div>