<div class='user-container'>
  <div class='user border border-secondary rounded centered'>
    <h3>Add game</h3>
    <hr>
    <form action='/games/new' method='post' class='userform'>
      <label><b>Name</b>
        <input type='text' id='name' name='name'>
      </label> 
      <label><b>Genre</b>
        <input type='text' id='genre' name='genre'>
      </label> 
      <label><b>Publisher</b>
        <input type='text' id='password' name='password'>
      </label> 
      <label><b>Description</b></label> 
      <textarea rows="4" id='description' name='description'></textarea>
      <input class="btn btn-primary" type="submit" id="submit">
    </form>
  </div>
</div>