<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<div class="header">
  <div class="header-home">
    <strong><a href='/'>Home</a></strong>
  </div>
    <% if @user %>
      <div class="header-username">
        test
      </div>
    <% else %>
      <div class="header-signup header-user">
        <strong><a href='/register'>Sign Up</a></strong>
      </div>
      <div class='header-user-spacer'>|</div>
      <div class="header-login header-user">
        <strong><a href='/login'>Log In</a></strong>
      </div>
    <% end %>
</div>