<div class='user-container'>
  <div class='register centered'>
    <h2>
      Welcome to lfp2's Videogame tracker
    </h2>
    <% unless User.find_by_id(session[:id]) %>
      <p>
        Please log in to continue
      </p>
    <% end %>
  </div>
</div>