<div class='user-container'>
  <div class='user border border-secondary rounded centered'>
    <h3>Log In</h3>
    <hr>
    <form action='/login' method='post' class='userform'>
      <label><b>Email</b> 
        <input type='text' id='email' name='email'>
      </label>
      <label><b>Password</b>
        <input type='password' id='password' name='password'>
      </label> 
      <input class='btn btn-primary' type='submit' id='submit'>
    </form>
  </div>
</div>