<%= erb :header %>
<div class='user-container'>
  <div class='user border border-secondary rounded centered'>
    <h3>Sign Up</h3>
    <hr>
    <form action='/register' method='post' class='userform'>
      <label><b>First Name</b>
        <input type='text' id='firstname' name='firstname'>
      </label> 
      <label><b>Last Name</b>
        <input type='text' id='lastname' name='lastname'>
      </label> 
      <label><b>Email</b>
        <input type='text' id='email' name='email'>
      </label> 
      <label><b>Password</b>
        <input type='password' id='password' name='password'>
      </label> 
      <input class="btn btn-primary" type="submit" id="submit">
    </form>
  </div>
</div>
<%= erb :footer %>